#editor {
  border-right: 2px solid #eee;
  padding-left: 20px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
}
#preview {
  /*
  position: absolute;
  margin-left: 5px;
  padding: 20px;
  left: 50%;
  bottom: 0;
  right: 0;
  overflow: auto;
  */
  position: absolute;
  margin-left: 5px;
  padding-left: 20px;
  left: 50%;
  bottom: 0;
  right: 0;
  top: 0;
  overflow: auto;
}
#preview img[src=""] {
  border: 1px solid #333;
  width: 200px;
  height: 200px;
}
